/* Apply styles to the whole body to ensure proper positioning */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0; /* Remove default margin */
  background: linear-gradient(6deg, rgba(0,0,0,1) 1%, rgba(70,15,88,1) 100%);
}

.Main {
  position: static;
  display: flex;
 margin-left: 5%;
  width: 100%;
  margin-top: 1%;
 
  color: black;
  justify-content: center;  
 align-items: center;
 margin-bottom: 10%;

}
.footer {
 margin-top: 450px;
 width: 100%;
  color: white;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: end; /* Center content horizontally */
  
}
.page-container{
display: flex;
flex-direction: column;
justify-content: center;  
align-items: center;
flex: 1; 
}

.HeaderContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  height: 10%;
  background-color:white;
  border-radius: 10px;
  border: 1px solid  #f4f2f4;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.452); /* Example box shadow */
  
}

.Sidemenu {
  align-self: center;
  /* Optional: You can add styling specific to Sidemenu */
}

.HeaderContent {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 10%;
  
}
.sidebar{
 
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars{
  margin-left: 5rem;
  font-size: 2rem;
  background-color: none;
}
.nav-menu{
  margin-left: -10px;
  background-color: #1c161d;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
left: 0;
transition: 350ms;
}
.nav-text{
  margin-top: 10%;
  display: flex;
  justify-content: start;
  padding: 5px 0px 5px 2px;
  height: 60px;

}
.nav-text a{
  text-decoration: none;
  color:white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3 5px;
  border-radius: 4px;

}

span{
  margin: 10px;
}
.Top-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;

}

.logo{
  display: flex;
  width: 2.5rem;
  align-self: center;
  
}


.sidebar{
  padding: 10px;
}
.fabars {
  
  color: #460f58 ;
  font-size: 26px;
  
}

.bell {
  font-size: 35px;
  color: #460f58;
  padding: 10px;
  margin-left: auto; /* Move the bell icon to the right */
}

.home-container{
 width: 100%;
 height: 20rem;

}
.home-container-1{
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  height: 20%;
 background-color: white;
  border-radius: 10px;
  border: 1px solid  #f4f2f4;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.452); /* Example box shadow */
   /* Example box shadow */
  justify-content: space-between;
}
.container-i-icons{
  font-size: 40px;
 padding: 10px;
 color: #460f58;
}
.home-container-2{
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  height: 60%;
background-color: white;
  border-radius: 10px;
  border: 1px solid  #f4f2f4;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.452); /* Example box shadow */
   /* Example box shadow */
  justify-content: space-between;
  overflow: hidden;

}
.home-countainer-3{
  margin-top: -5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -3%;
 
}
.home-container1-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-container1-links a {
 
  font-size: 45px;
  width: calc(12rem - 10px); /* Set the width of each link to one-third minus margin/padding */
  display: flex;
  flex-direction: column;
  height: 6rem;
  background-color: white;
  color: #460f58;
  border-radius: 10px;
  border: 1px solid  #f4f2f4;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.452); /* Example box shadow */
   /* Example box shadow */
  align-items: center; /* Center content vertically */
  margin-left: 5px;
}

.home-container1-links span {
  color: #460f58;
  font-size: 24px;
  margin-top: 2px;
  
}

.Sign-Up-Container{
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 12%;
  height: 60%;
  background-color:rgba(255, 255, 255, 0.348);
  border-radius: 10px;
  box-shadow: 5px 3px 5px rgba(255, 255, 255, 0.452); /* Example box shadow */
  
  justify-content: space-between;


}

.LogInContainer{

  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 15%;
  height: 60%;
  background-color:rgba(255, 255, 255, 0.348);
  border-radius: 10px;
  box-shadow: 5px 3px 5px rgba(255, 255, 255, 0.452); /* Example box shadow */
  margin-top: 15rem;
  justify-content: space-between;


}



.Sign-Up-Container>.logo ,.LogInContainer>.logo{
  width: 6rem;

}

.logo1{
  width: 15rem;
 margin-top: 5%;
 margin-left: 10%;

}
.logo2{
  width: 15rem;
  margin-top: 5%;
  margin-left: 15%;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  font-size: large;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;

}
.formContainer>input {

border-radius: 10px;
width: 100%;
margin: 3%;
height: 30px;
box-shadow: 5px 3px 5px rgba(255, 255, 255, 0.452); /* Example box shadow */
  font-weight: lighter;
  letter-spacing: 2px;
  color: #460f58;


}
.formContainer>label,p {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 color: white;
 letter-spacing: 2px;

}

.formContainer>button ,.SignUpBtn{
  margin-top: 5%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.452);
}

.SignUpBtn{
  margin-left: 25%;
  
}
.LogInBtn{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  font-weight: lighter;
  letter-spacing: 2px;
  
  
}
.dua-card{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: auto;
  background-color:rgba(255, 255, 255, 0.348);
  border-radius: 10px;
  box-shadow: 5px 3px 5px rgba(255, 255, 255, 0.452); /* Example box shadow */
  margin: 3%;
  justify-content: space-between;
}
.dua-cards-home {
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
justify-content: center;
  color: #460f58;

}
.dua-cards-home > label{
  
margin-bottom: 1;
  color: #460f58;
  text-align: center;
font-size: larger;

 
}
.dua-cards-home >p{
 font-size: larger;
color: #040404;
margin-top: 5%;
font-style: italic;
font-weight: 400;
letter-spacing: 1px;
margin-left: 5%;
 }

.duas-list-container{

  height: 800px;
  overflow: scroll;
  
}
.dua-card > label{
 margin-left: 10px;
 

}
.dua-card >p{
  margin-left: 15px;

 }

 .home-container-4 {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #f4f2f4;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.452);
  justify-content: space-between;
  position: relative; /* Add position relative */
}

.event-cards-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px; /* Add border radius */
}

.event-cards-home > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pageDetails-container{
width:100%



}
.event-cards-details {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 5%;
  
}

.event-cards-details >img{

width: 85%;
border-radius: 10px;
}
.chat-container{
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 5%;
  color:white;
  justify-content: center;
  align-content: center;
  align-items: center;

}


.message-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5%;
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 10px;
  border: 1px solid #f4f2f4;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.452);
  justify-content: space-between;
  position: relative; /* Add position relative */
  justify-content: center;
  align-content: center;
  align-items: center;
  color:white

}
.messageBox{
  width: 100%;

}
.message-input{
 margin-top:25rem;
 width: 100%;
}
.friendship-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
.friend-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height:auto;
  margin: 5%;
  

}
.friend-card{
  display: flex;
  flex-direction:row ;
  width: 30%;
  height:auto;
  margin: 3%;
  color: white;
}
.friend-i-icons {
  font-size: 4rem;
 margin-left: 20%;
 color: white;

}
.friend-name{
  color: white;
  letter-spacing: 2px;
  font-weight: lighter;

 
}
.search-input{
  width: 85%;
  height: 1.5rem;
  border-radius: 10px;
  border: none;

}
.add-friend-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  
  }
 
  .add-Friend{
    width: 30%;
  
  }
.add-friend-container> label{
  letter-spacing: 2px;
  font-size: larger;
  margin: 5%;
}
.friendship-container >h3{
  letter-spacing: 2px;
  font-size: larger;
  margin: 10%;
}
.search-results{
  display: flex;
  flex-direction:column ;
}
.search-results-box{
  display: flex;
  flex-direction:row ;
}
.search-results-box-name{
  display: flex;
  flex-direction:row ;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-size: large;
  font-weight: lighter;
  margin-left: 10%;
  color: white;
  margin-right: 5%;

}
.card-friend-search{
  display: flex;
  flex-direction:row ;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-size: large;
  font-weight: lighter;
  color: white;
 
}
.friend-i-icons-card{
  font-size: 3rem;
  

}
.user-profile{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  letter-spacing: 1px;
}
.container-i-profile-icons{
  font-size: 10rem;

}

.footer-company{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
justify-content:space-around;
align-items: center;
align-content: center;


}
.footer-company-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
align-content: center;

}
.footer-company-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
align-content: center;

}
.footer-contact{
 
  margin: 15%;
  
}
.footer-support{
  margin: 5%;
}
.footer-social-icons{
  display: flex;
  flex-direction: row;
  
}


.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10%;
  width: 90%;
  height: 70vh;
  position: relative; /* Required for absolute positioning */
}

.send-message-form-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.send-message-form-container  > input{
width: 80%;
height: 2rem;
border-radius: 5px;
border: 1px solid black;

}
.send-message-form-container >button{
  width:20%;
  height: 2.3rem;
  border-radius: 5px;
  border: 1px solid black;

}
.message-box{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-end;
  align-content:end;


}
.message-text{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-end;
  align-content:end;
  margin-left: 20rem;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  font-size: x-large;
}
.message-box> p{
  font-size: small;
 

}